<div>
    {% for item in cart.items %}
        <div class="flex p-2.5 gap-2.5">
            <img src="{{ item.image | image_url: width: 100 }}" />
            <div>
                <h3 class="tracking-[.2em] uppercase text-sm">{{ item.title }}</h3>
                {% comment %} <span class="block">{{ item.variant }}</span> {% endcomment %}
                <span class="block tracking-[.2em] uppercase text-xs text-[#6a6a6a]">{{ item.price | money }}</span>
                <div></div>
            </div>
        </div>
    {% endfor %}
</div>