<html>
  <head>
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
  </head>
  <body>
    {% render 'header' %}
    {{ content_for_layout }}
  </body>
</html>